ipykernel
langgraph
langchain
langsmith

python-dotenv
langchain-community

sentence-transformers
langchain-huggingface

streamlit

langchain-groq
fastapi
uvicorn
langserve
tqdm

pydantic

langgraph-checkpoint-sqlite

fastmcp
langchain-mcp-adapters

langgraph-checkpoint-postgres
tavily-python
langchain-tavily